@{


    ViewBag.Title = "Home Page";
}

<br />

<p>

</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>Quantità</th>
            <th>Codice</th>
            <th>Carrelli</th>
        </tr>

    </thead>
    <tbody data-bind="foreach:infosComponenti">
        <tr>
            <td>
                <span data-bind="text:$data.quantita" class="badge badge-primary badge-pill"></span>
            </td>
            <td>
                <span data-bind="text:$data.codice"></span>
            </td>
            <td>
                <ol data-bind="foreach:$data.carrelli" class="list-group">
                    <li class="list-group-item-info">
                        <b><span data-bind="text:$data.matricola"></span></b>
                        [<span data-bind="text:areaStock"></span>] - [<span data-bind="text:locazione"></span> ]
                    </li>
                </ol>

            </td>

        </tr>
    </tbody>
</table>




<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/App/ViewModels/componenteViewModel.js"></script>



<script>
    $(document).ready(function () {
        var model = new componenteViewModel();
        model.init();
        ko.applyBindings(model);

    });
</script>


