

@{
    ViewBag.Title = "Elenco Componenti";
}

<br />

<table class="table table-striped">
    <thead class="table-heading">

        <tr>
            <th>
                Quantità
            </th>
            <th>
                Codice
            </th>
         
            <th>
                Carrelli
            </th>
          
        </tr>
    </thead>
    @foreach (var componente in ViewBag.ListaComponenti)
    {
        <tr>
            <td>
                @componente.quantita
            </td>
            <td>
                @componente.codice
            </td>
            <td>

                @foreach (var carrello in componente.carrelli)
                {
                    <ul>
                        <li> <a href="@Url.Action("Show","Carrelli",new { id=carrello.carrelloID})"  title="Detagli">@carrello.matricola</a><br /></li>

                    </ul>
                }

            </td>
         
        </tr>
    }

</table>
